#canvas{
    border-style:solid;
    border-width: 2px 2px 2px 2px;
    width:300px;
    height:300px;
}

#element{
    background-color: aqua;
    width: 50px;
    height:50px;
}

.text{
    z-index:705;
    position: absolute;
}

.image{
    width: 100%;
    height:100%;
    z-index:700;
    background-size: cover;
    position: absolute;
}